.topnav {
    width:100%;
    font-size:20px;
    text-align:right;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    text-align: center;
    margin: 15px 20px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.topnav a.active{
    color: #00449D;
}

.topnav .name{
    color:#619100;
}

.topnav a:hover{
    opacity:70%;
}

/* When the screen is less than 600 pixels wide, center top */
@media screen and (max-width: 600px) {
    .topnav{
        text-align:center;
    }
}